* {
  box-sizing: border-box;
}

html {
  background-color: hsl(220 18% 10%);
  color: white;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
